@import '../utils/variables';
.burger {
	&__menu {
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: #fff;
		z-index: 101;
		padding: 48px 40px;
		transform: translateX(100%);
		transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		opacity: 0;
		> .burger__close {
			position: absolute;
			top: 10px;
			right: 15px;
			width: 40px;
			height: 40px;
			background-color: transparent;
			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			> .icon {
				fill: #212121;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			}
			&:hover {
				> .icon {
					transform: rotate(360deg);
					fill: $color-primery;
				}
			}
		}
	}

	&__list {
		margin-bottom: calc($height - 48px - 48px - 210px - 163px - 22px);
		> li {
			&:not(:last-child) {
				margin-bottom: 35px;
			}
			> a {
				font-size: 40px;
				font-weight: 500;
				line-height: 46.88px;
				color: #212121;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					color: $color-primery;
				}
			}
			> a.active {
				color: $color-primery;
			}
		}
	}

	&__contacts {
		display: flex;
		gap: 32px;
		flex-direction: column;
		> li:nth-child(1) {
			> a {
				font-size: 34px;
				line-height: 39.84px;
			}
		}
		> li:nth-child(2) {
			margin-bottom: 64px;
		}
		> li > a {
			color: #757575;
			font-size: 24px;
			font-weight: 500;
			line-height: 28.13px;

			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			&:hover {
				color: $color-primery;
			}
			&:active {
				color: $color-primery;
			}
		}
	}

	&__links {
		display: flex;
		gap: 20px;
		> li {
			position: relative;
			&:not(:last-child)::after {
				content: "";
				position: absolute;
				height: 22px;
				border: 1px solid #21212133;
				right: -12px;
			}
			> a {
				color: $color-primery;
				font-size: 18px;
				font-weight: 500;
				line-height: 22px;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					color: $color-primery-hover;
				}
			}
		}
	}
}
.burger__open {
	width: 24px;
	flex-direction: column;
	gap: 4px;
	background-color: transparent;
	display: none;
	> div {
		border: 1px solid #212121;
		width: 100%;
		transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
	}
	&:hover {
		> div {
			border-color: $color-primery;
		}
	}
}
.burger__on {
	transform: translateX(0);
	opacity: 1;
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 767px) {
	.burger__open {
		display: flex;
	}
}
