.footer {
	background-color: #2f303a;
	padding: 60px 0;
	> .wrapper {
		display: flex;
		gap: 70px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
	}
	&__first {
		display: flex;
		gap: 20px;
		flex-direction: column;
	}
	&__menu {
		display: flex;
		flex-direction: column;
		gap: 10px;
		&__logo {
			color: #ffffff;
			font-size: 26px;
			font-weight: 700;
			line-height: 30.52px;
			> span {
				color: var(--color-primery);
				font-family: "Raleway", sans-serif;
			}
		}
		> li {
			color: #ffffff99;
			font-size: 14px;
			font-weight: 400;
			line-height: 24px;
			&:nth-child(1) {
				color: #fff;
			}
		}
	}
	&__join {
		display: flex;
		flex-direction: column;
		> h3 {
			color: #ffffff;
			font-weight: 700;
			font-size: 14px;
			line-height: 16.41px;
			padding: 12px 0 20px 0;
			letter-spacing: 1px;
		}
		&__links {
			display: flex;
			gap: 10px;
			> li > a {
				border-radius: 50%;
				background-color: #ffffff1a;
				padding: 12px;
				display: flex;
				align-items: center;
				justify-content: center;
				transition: 0.2s ease-in-out;
				&:hover {
					background-color: var(--color-primery);
				}
			}
			> li > a > i {
				font-size: 20px;
				color: #ffffff;
			}
		}
	}
	&__form {
		> h3 {
			color: #ffffff;
			font-size: 14px;
			font-weight: 700;
			line-height: 16.41px;
			padding: 12px 0 20px 0;
		}
		&__link {
			display: flex;
			> input {
				background-color: transparent;
				border-radius: 4px;
				border: 1px solid #ffffff4d;
				padding: 15px 0 15px 15px;
				width: 350px;
				color: #ffffff99;
				margin-right: 12px;
				outline: none;
				&:focus {
					border: 1px solid var(--color-primery);
				}
			}
			> button {
				background-color: var(--color-primery);
				padding: 10px 28px;
				color: #ffffff;
				border-radius: 4px;
				font-size: 16px;
				font-weight: 700;
				line-height: 30px;
				transition: 0.4s;
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 10px;
				> .icon {
					fill: #fff;
				}
				&:hover {
					background-color: var(--color-primery-hover);
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.footer {
		&__first {
			align-items: center;
		}
		> .wrapper {
			column-gap: 165px;
		}
		&__menu {
			align-items: center;
			justify-content: center;
		}
	}
	.footer__join {
		align-items: center;
	}
	.footer__form {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		&__link {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 20px;
			> input {
				margin: 0;
				width: 450px;
			}
		}
	}
}