@import "../utils/variables";
@import "../utils/placeholders";
.header {
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 99;
	border-bottom: 1px solid #ececec;
	> .wrapper {
		padding: 25px 15px;
		display: flex;
		align-items: center;
	}
	&__nav {
		display: flex;
		align-items: center;
		gap: 92px;
		margin-right: auto;
	}
	&__logo {
		color: #000000;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 1px;
		> span {
			font-family: "Raleway", sans-serif;
			color: $color-primery;
		}
	}
	&__menu {
		display: flex;
		align-items: center;
		gap: 50px;
		flex-wrap: wrap;
		&__item {
			> a {
				color: #000000;
				font-size: 14px;
				font-weight: 500;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				position: relative;
				&:hover {
					color: $color-primery-hover;
				}
			}
			> a.active {
				color: $color-primery;
				&::after {
					content: "";
					position: absolute;
					bottom: -31px;
					left: 0;
					border: 1px solid $color-primery;
					width: 100%;
					background-color: $color-primery;
					border-radius: 2px;
				}
			}
		}
	}
	&__address {
		display: flex;
		row-gap: 10px;
		column-gap: 30px;
		flex-wrap: wrap;
		margin-left: auto;
		&__link {
			color: #757575;
			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			@extend %flex-center;
			column-gap: 10px;
			font-size: 14px;
			font-weight: 500;
			line-height: 16.41px;
			> .icon {
				fill: #757575;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			}
			&:hover {
				color: $color-primery-hover;
				> .icon {
					fill: $color-primery;
				}
			}
		}
	}
}
@media (max-width: 1200px) {
	.header__nav {
		gap: 88px;
	}
	.header__address {
		&__link {
			justify-content: left;
		}
		display: block;
		> li {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
}
@media (max-width: 767px) {
	.header__address {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
	.header__menu {
		display: none;
		visibility: hidden;
		pointer-events: none;
	}
}
