.hero {
	background-image: linear-gradient(90deg, #2f303a66 10%, #2f303a66 100%), url(../images/hero-bg.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 1600px;
	> .wrapper {
		padding: 200px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	&__title {
		max-width: 695px;
		font-size: 44px;
		font-weight: 900;
		line-height: 60px;
		text-align: center;
		padding-bottom: 30px;
		color: #ffffff;
		text-transform: uppercase;
		letter-spacing: 6px;
	}
	&__btn {
		background-color: var(--color-primery);
		padding: 10px 32px;
		color: #fff;
		border-radius: 4px;
		font-size: 16px;
		font-weight: 700;
		letter-spacing: 2px;
		line-height: 30px;
		transition: 0.4s;
		&:hover {
			background-color: var(--color-primery-hover);
		}
	}
}
