@import '../utils/variables';
.modal {
	position: fixed;
	opacity: 1;
	background-color: #00000033;
	min-height: 100vh;
	min-width: 100vw;
	z-index: 100;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	&__wrapper {
		border-radius: 4px;
		opacity: 1;
		width: 528px;
		z-index: 101;
		background-color: #ffffff;
		padding: 40px;
		position: relative;
		transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		box-shadow:
			0px 2px 1px 0px #00000033,
			0px 1px 1px 0px #00000024,
			0px 1px 3px 0px #0000001f;
		transform: scale(0);
	}
	&__title {
		text-align: center;
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 20px;
		line-height: 23.44px;
		color: #212121;
	}
	&__close {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 30px;
		height: 30px;
		right: 8px;
		top: 8px;
		padding: 9px 9px 10px 10px;
		border-radius: 50%;
		border: 1px solid #0000001a;
		background-color: transparent;
		transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
		&:hover {
			transform: rotate(360deg);
			fill: $color-primery;
		}
	}
	&__form {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		&__wrapper {
			margin-bottom: 10px;
			display: flex;
			gap: 5px;
			flex-direction: column;
			position: relative;
			width: 100%;
			> label {
				color: #757575;
				font-size: 12px;
				font-weight: 400;
				line-height: 14.06px;
			}
			> input {
				border: 1px solid #21212133;
				border-radius: 4px;
				padding: 11px 11px 11px 30px;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				outline: none;
				background-color: transparent;
				&:hover {
					border: 1px solid $color-primery;
				}
				&:focus {
					border: 1px solid $color-primery;
				}
				&:hover + * {
					fill: $color-primery;
					color: $color-primery;
				}
				&:focus + * {
					fill: $color-primery;
					color: $color-primery;
				}
			}
			> i {
				position: absolute;
				top: 33px;
				left: 12px;
				font-size: 12px;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				fill: #212121;
				color: #212121;
			}
			> svg {
				position: absolute;
				top: 33px;
				left: 12px;
				font-size: 12px;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				fill: #212121;
				color: #212121;
			}
			> textarea {
				resize: none;
				padding: 12px 16px;
				height: 120px;
				border: 1px solid #21212133;
				border-radius: 4px;
				outline: none;
				transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
				&:hover {
					border-color: $color-primery;
				}
			}
		}
		&__check {
			> p {
				font-size: 14px;
				font-weight: 400;
				line-height: 24px;
				color: #757575;
				max-width: 400px;
				display: inline;
				padding-left: 8px;
				> a {
					color: $color-primery;
					text-decoration: underline;
				}
			}
		}
		&__btn {
			background-color: $color-primery;
			color: #ffffff;
			padding: 10px 52px;
			font-size: 16px;
			font-weight: 700;
			line-height: 30px;
			border-radius: 4px;
			margin-top: 30px;
			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			&:hover {
				background-color: $color-primery-hover;
			}
		}
	}
}
.modal__on {
	transform: scale(1);
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
	.modal__wrapper {
		width: 450px;
	}
	.modal__title {
		max-width: 370px;
	}
	.modal__form {
		max-width: 370px;
		&__check {
			p {
				line-height: 14.06px;
				font-size: 12px;
				font-weight: 400;
			}
		}
	}
}
.no-scroll {
	overflow-y: hidden;
}
