@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
*::after,
*::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
button {
	border: none;
	cursor: pointer;
}

.wrapper {
	max-width: 1170px;
	margin: 0 auto;
}
li {
	list-style: none;
}
address {
	font-style: normal;
}
.off {
	visibility: hidden;
	pointer-events: none;
	opacity: 0;
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
@media (max-width: 1200px) {
	.wrapper {
		max-width: 768px;
	}
}
@media (max-width: 767px) {
	.wrapper {
		max-width: 480px;
	}
}
