@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1a1b1f;
  border-bottom: 2px solid #262931;
  z-index: 1488;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}
.header__wrapper > .logo {
  font-size: calc((1vw + 1vh) * 0.9);
  font-weight: 300;
  letter-spacing: calc((1vw + 1vh) * 0.3);
  transition: 0.4s ease-in-out;
}
.header__wrapper > .logo:hover {
  transform: scale(1.1);
  color: #8d7eb9;
}
.header__menu {
  display: flex;
  gap: calc((1vw + 1vh) * 2);
  align-items: center;
}
.header__menu > li > a {
  font-size: calc((1vw + 1vh) * 0.7);
  font-weight: 400;
  letter-spacing: calc((1vw + 1vh) * 0.2);
  transition: 0.4s ease-in-out;
}
.header__menu > li > a:hover {
  color: #8d7eb9;
}

.hero {
  min-height: 100vh;
}
.hero__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.hero__wrapper > .swiper > .swiper-wrapper > .web-studio > a {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
.hero__wrapper > .swiper > .swiper-wrapper > .web-studio > a > span {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 50px;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.hero__wrapper > .swiper > .swiper-wrapper > .web-studio > a > span > span {
  color: #2196f3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
.hero__wrapper > .swiper > .swiper-wrapper > .web-studio > a > .webstudio-img {
  width: 350px;
  height: 140px;
}
.hero__cart {
  background-color: #21242a;
  padding: 50px 0 50px 50px;
  width: calc(50% + 32px);
  border-radius: 20px;
  height: calc((1vw + 1vh) * 15);
}
.hero__cart__title {
  color: #abc7ff;
  font-size: calc((1vw + 1vh) * 2);
  padding-bottom: 30px;
  font-weight: 600;
}
.hero__cart__text {
  max-width: 365px;
  color: #abc7ff;
  font-size: calc(1vw + 1vh);
  font-weight: 600;
  padding-bottom: 50px;
}
.hero__cart__link {
  color: #002f65;
  background-color: #abc7ff;
  padding: 15px;
  border-radius: 25px;
  font-size: calc((1vw + 1vh) * 0.7);
  font-weight: 500;
  transition: ease-in-out 0.4s;
}
.hero__cart__link:hover {
  background-color: #82acff;
}

.swiper {
  width: calc(50% + 32px);
  transform: scale(1.1);
  border-radius: 20px;
  height: calc((1vw + 1vh) * 15);
}
.swiper-slide {
  border-radius: 20px;
  background-color: #262931;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  transform: scale(1);
  padding: 20px;
  border-radius: 15px;
  transition: 0.4s ease-in-out;
  z-index: 100;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background-color: #00458f;
}

.swiper-button-disabled {
  transform: scale(0);
  transition: 0.4s;
}

.projects {
  margin: 90px 0;
}
.projects > .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 90px;
}
.projects__title {
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 3px;
}
.projects__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
}
.projects__menu__item {
  padding: 15px 20px;
  border: 1px solid #2c2c2c;
  border-radius: 10px;
  width: 250px;
  height: 100px;
  position: relative;
  z-index: 1;
  transition: 0.25s ease-in-out;
}
.projects__menu__item:hover {
  transform: scale(1.1);
}
.projects__menu__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1a1b1f;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
}
.projects__menu__item:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #8d7eb9, #abc7ff, #8d7eb9, #abc7ff, #8d7eb9, #abc7ff, #8d7eb9, #abc7ff);
  background-size: 600%;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  filter: blur(8px);
  z-index: -1;
  border-radius: 10px;
  animation: btn 20s infinite linear;
}
.projects__menu__item__title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}
.projects__menu__item > a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.projects__menu__item > a > .web-studio {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
.projects__menu__item > a > .web-studio > span {
  font-family: "Raleway", sans-serif;
  color: #2196f3;
  font-weight: 700;
}

@keyframes btn {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*# sourceMappingURL=main.css.map */
