@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
:root {
	--index: calc(1vw + 1vh);
	--color-text: #e3e2e6;
	--color-text-hover: #8d7eb9;
	--color-brand: #1a1b1f;
	--swiper-theme-color: #abc7ff;
	--swiper-navigation-size: 30px;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
*::after,
*::before {
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
body {
	overflow-x: hidden;
	min-height: 100vh;
	min-width: 100vw;
	color: var(--color-text);
}
a {
	text-decoration: none;
	color: var(--color-text);
}
button {
	border: none;
	cursor: pointer;
}
li {
	list-style: none;
}
