@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --height: 100vh;
  --color-primery: #2196f3;
  --color-primery-hover: #4fb0ff;
  --color-dark: #212121;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
}

li {
  list-style: none;
}

address {
  font-style: normal;
}

.off {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .wrapper {
    max-width: 768px;
  }
}
@media (max-width: 767px) {
  .wrapper {
    max-width: 480px;
  }
}
.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: #ffffff;
  z-index: 99;
}
.header > .wrapper {
  padding: 25px 15px;
  display: flex;
  align-items: center;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 92px;
  margin-right: auto;
}
.header__logo {
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header__logo > span {
  font-family: "Raleway", sans-serif;
  color: var(--color-primery);
}
.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.header__menu__item > a {
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
  position: relative;
}
.header__menu__item > a:hover {
  color: var(--color-primery-hover);
}
.header__menu__item > a.active {
  color: var(--color-primery);
}
.header__menu__item > a.active::after {
  content: "";
  position: absolute;
  bottom: -31px;
  left: 0;
  border: 1px solid var(--color-primery);
  width: 100%;
  background-color: var(--color-primery);
  border-radius: 2px;
}
.header__address {
  display: flex;
  row-gap: 10px;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
  margin-left: auto;
}
.header__address__link {
  color: #757575;
  transition: ease-in-out 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.41px;
}
.header__address__link > .icon {
  fill: #757575;
  transition: ease-in-out 0.4s;
}
.header__address__link:hover {
  color: var(--color-primery-hover);
}
.header__address__link:hover > .icon {
  fill: var(--color-primery);
}

@media (max-width: 1200px) {
  .header__nav {
    gap: 88px;
  }
  .header__address {
    display: block;
  }
  .header__address__link {
    justify-content: left;
  }
  .header__address > li:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .header__address {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
  .header__menu {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
.hero {
  background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 10%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  max-width: 1600px;
}
.hero > .wrapper {
  padding: 200px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero__title {
  max-width: 695px;
  font-size: 44px;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
  padding-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
}
.hero__btn {
  background-color: var(--color-primery);
  padding: 10px 32px;
  color: #fff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  line-height: 30px;
  transition: 0.4s;
}
.hero__btn:hover {
  background-color: var(--color-primery-hover);
}

@media (max-width: 1200px) {
  .hero {
    background-image: linear-gradient(90deg, rgba(47, 48, 58, 0.4) 10%, rgba(47, 48, 58, 0.4) 100%), url(../images/hero-mobile.png);
  }
  .hero > .wrapper {
    padding: 118px 0;
  }
  .hero__title {
    font-size: 26px;
    font-weight: 900;
    line-height: 42px;
    max-width: 360px;
  }
}
.info {
  margin: 95px 0;
}
.info__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.info__menu__item {
  max-width: 270px;
}
.info__menu__item::before {
  content: "";
  background-color: #f5f4fa;
  display: block;
  background-repeat: no-repeat;
  background-size: 70px;
  background-position: center;
  width: 100%;
  height: 120px;
}
.info__menu__item:nth-child(1)::before {
  background-image: url(../images/svg/antenna.svg);
}
.info__menu__item:nth-child(2)::before {
  background-image: url(../images/svg/clock.svg);
}
.info__menu__item:nth-child(3)::before {
  background-image: url(../images/svg/diagram.svg);
}
.info__menu__item:nth-child(4)::before {
  background-image: url(../images/svg/astronaut.svg);
}
.info__menu__item__title {
  font-size: 14px;
  font-weight: 700;
  padding: 30px 0 10px 0;
}
.info__menu__item__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .info > .wrapper {
    padding: 0 15px;
  }
  .info__menu__item {
    max-width: 354px;
  }
}
@media (max-width: 767px) {
  .info__menu__item {
    max-width: 450px;
  }
}
.work > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.work__title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  padding-bottom: 50px;
}
.work__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.work__menu__item {
  position: relative;
}
.work__menu__item > p {
  background-color: rgba(47, 48, 58, 0.8);
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 27px;
}

@media (max-width: 1200px) {
  .work {
    visibility: hidden;
    display: none;
  }
}
.team {
  background-color: #f5f4fa;
  margin: 95px 0;
  padding: 95px 0;
}
.team > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.team__title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
  line-height: 42.19px;
  margin-bottom: 50px;
}
.team__list {
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team__list__item {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  padding-bottom: 30px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.1411764706), 0 1px 3px 0 rgba(0, 0, 0, 0.1215686275);
}
.team__list__item > img {
  max-width: 270px;
}
.team__list__item > h3 {
  font-size: 16px;
  font-weight: 500;
  line-height: 18.75px;
  margin: 30px 0 10px 0;
}
.team__list__item > p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 18.75px;
  margin-bottom: 15px;
}
.team__list__item__links {
  display: flex;
  gap: 10px;
}
.team__list__item__links > li > a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: transparent;
  padding: 12px;
  transition: 0.3s ease-in-out;
}
.team__list__item__links > li > a > i {
  transition: 0.4s;
}
.team__list__item__links > li > a:hover {
  background-color: var(--color-primery);
}
.team__list__item__links > li > a:hover > i {
  color: #ffffff;
}
.team__list__item__links > li > a > i {
  color: #afb1b8;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .team__list {
    padding: 0px 15px;
  }
  .team__list__item {
    max-width: 354px;
  }
  .team__list__item > img {
    max-width: 354px;
  }
}
@media (max-width: 767px) {
  .team__list__item {
    max-width: 450px;
  }
  .team__list__item > img {
    max-width: 450px;
  }
}
.clients {
  margin-bottom: 95px;
}
.clients > .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.clients__title {
  font-size: 36px;
  font-weight: 700;
  line-height: 42.19px;
  margin-bottom: 50px;
  color: #212121;
}
.clients__menu {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.clients__menu > li > a {
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  transition: 0.4s;
}
.clients__menu > li > a > .icon {
  fill: #afb1b8;
  transition: 0.3s;
}
.clients__menu > li > a:hover {
  border: 1px solid var(--color-primery);
}
.clients__menu > li > a:hover > .icon {
  fill: #2196f3;
}

@media (max-width: 1200px) {
  .clients__menu > li > a {
    width: 226px;
  }
}
@media (max-width: 767px) {
  .clients__menu > li {
    width: 210px;
  }
}
.footer {
  background-color: #2f303a;
  padding: 60px 0;
}
.footer > .wrapper {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.footer__first {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.footer__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer__menu__logo {
  color: #ffffff;
  font-size: 26px;
  font-weight: 700;
  line-height: 30.52px;
}
.footer__menu__logo > span {
  color: var(--color-primery);
  font-family: "Raleway", sans-serif;
}
.footer__menu > li {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.footer__menu > li:nth-child(1) {
  color: #fff;
}
.footer__join {
  display: flex;
  flex-direction: column;
}
.footer__join > h3 {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16.41px;
  padding: 12px 0 20px 0;
  letter-spacing: 1px;
}
.footer__join__links {
  display: flex;
  gap: 10px;
}
.footer__join__links > li > a {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1019607843);
  padding: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}
.footer__join__links > li > a:hover {
  background-color: var(--color-primery);
}
.footer__join__links > li > a > i {
  font-size: 20px;
  color: #ffffff;
}
.footer__form > h3 {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.41px;
  padding: 12px 0 20px 0;
}
.footer__form__link {
  display: flex;
}
.footer__form__link > input {
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3019607843);
  padding: 15px 0 15px 15px;
  width: 350px;
  color: rgba(255, 255, 255, 0.6);
  margin-right: 12px;
  outline: none;
}
.footer__form__link > input:focus {
  border: 1px solid var(--color-primery);
}
.footer__form__link > button {
  background-color: var(--color-primery);
  padding: 10px 28px;
  color: #ffffff;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  transition: 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footer__form__link > button > .icon {
  fill: #fff;
}
.footer__form__link > button:hover {
  background-color: var(--color-primery-hover);
}

@media (max-width: 1200px) {
  .footer__first {
    align-items: center;
  }
  .footer > .wrapper {
    -moz-column-gap: 165px;
         column-gap: 165px;
  }
  .footer__menu {
    align-items: center;
    justify-content: center;
  }
  .footer__join {
    align-items: center;
  }
  .footer__form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .footer__form__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .footer__form__link > input {
    margin: 0;
    width: 450px;
  }
}
.projects {
  margin: 95px 0;
}
.projects > .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.projects__sort {
  display: flex;
  gap: 10px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  padding: 0 15px;
}
.projects__sort > li > button {
  padding: 6px 25px;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition: 0.4s;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}
.projects__sort > li > button:hover {
  background-color: var(--color-primery);
  color: #fff;
}
.projects__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.projects__list > li {
  padding-bottom: 20px;
  position: relative;
  transition: 0.4s ease-in-out;
  width: 370px;
}
.projects__list > li > img {
  height: 294px;
  width: 100%;
}
.projects__list > li::after {
  content: "Ресурс пропонує комплексні пропозиції з різним рівнем функціоналу та сервісів. Все це дозволить відвідувачу отримати вичерпні відомості про компанію чи приватну особу.";
  position: absolute;
  top: 0;
  left: 0;
  height: 294px;
  display: flex;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  width: 100%;
  background-color: rgba(33, 150, 243, 0.8980392157);
  padding: 0 24px;
  transition: 0.4s ease-in-out;
}
.projects__list > li:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.1607843137), 0 4px 4px 0 rgba(0, 0, 0, 0.0588235294), 0 1px 1px 0 rgba(0, 0, 0, 0.1215686275);
}
.projects__list > li:hover::after {
  visibility: visible;
  opacity: 1;
}
.projects__list > li > h3 {
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  margin: 20px 0 5px 25px;
}
.projects__list > li > p {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  margin-left: 25px;
}

@media (max-width: 1200px) {
  .projects__list > li {
    width: 354px;
  }
}
@media (max-width: 767px) {
  .projects__list {
    align-items: center;
  }
  .projects__list > li {
    width: 450px;
  }
  .projects__list > li > img {
    width: 100%;
  }
}
.modal {
  position: fixed;
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  min-width: 100vw;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
.modal__wrapper {
  opacity: 1;
  width: 528px;
  z-index: 101;
  background-color: #ffffff;
  padding: 40px;
  position: relative;
  transition: 0.2s;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.1411764706), 0px 1px 3px 0px rgba(0, 0, 0, 0.1215686275);
  transform: scale(0);
}
.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.44px;
  color: #212121;
}
.modal__close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  padding: 9px 9px 10px 10px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1019607843);
  background-color: transparent;
  transition: 0.3s ease-in-out;
}
.modal__close:hover {
  transform: rotate(360deg);
  fill: var(--color-primery);
}
.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.modal__form__wrapper {
  margin-bottom: 10px;
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.modal__form__wrapper > label {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.06px;
}
.modal__form__wrapper > input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 11px 11px 30px;
  transition: 0.4s;
  outline: none;
  background-color: transparent;
}
.modal__form__wrapper > input:hover {
  border: 1px solid var(--color-primery);
}
.modal__form__wrapper > input:focus {
  border: 1px solid var(--color-primery);
}
.modal__form__wrapper > input:hover + * {
  fill: var(--color-primery);
}
.modal__form__wrapper > input:focus + * {
  fill: var(--color-primery);
}
.modal__form__wrapper > i {
  position: absolute;
  top: 33px;
  left: 12px;
  font-size: 12px;
  transition: 0.4s;
  fill: #212121;
  color: #212121;
}
.modal__form__wrapper > svg {
  position: absolute;
  top: 33px;
  left: 12px;
  font-size: 12px;
  transition: 0.4s;
  fill: #212121;
  color: #212121;
}
.modal__form__wrapper > textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.modal__form__check > p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #757575;
  max-width: 400px;
  display: inline;
  padding-left: 8px;
}
.modal__form__check > p > a {
  color: var(--color-primery);
  text-decoration: underline;
}
.modal__form__btn {
  background-color: var(--color-primery);
  color: #ffffff;
  padding: 10px 52px;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 4px;
  margin-top: 30px;
  transition: 0.3s;
}
.modal__form__btn:hover {
  background-color: var(--color-primery-hover);
}

.modal__on {
  transform: scale(1);
  transition: 0.2s;
}

@media (max-width: 1200px) {
  .modal__wrapper {
    width: 450px;
  }
  .modal__title {
    max-width: 370px;
  }
  .modal__form {
    max-width: 370px;
  }
  .modal__form__check p {
    line-height: 14.06px;
    font-size: 12px;
    font-weight: 400;
  }
}
.burger__menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 101;
  padding: 48px 40px;
  transform: translateX(0);
  transition: 0.4s;
}
.burger__menu > .burger__close {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  background-color: transparent;
  transition: 0.4s;
}
.burger__menu > .burger__close > .icon {
  fill: #212121;
  transition: 0.4s;
}
.burger__menu > .burger__close:hover > .icon {
  transform: rotate(360deg);
  fill: var(--color-primery);
}
.burger__list {
  margin-bottom: calc(var(--height) - 48px - 48px - 210px - 163px - 22px);
}
.burger__list > li:not(:last-child) {
  margin-bottom: 35px;
}
.burger__list > li > a {
  font-size: 40px;
  font-weight: 500;
  line-height: 46.88px;
  color: #212121;
  transition: 0.3s;
}
.burger__list > li > a:hover {
  color: var(--color-primery);
}
.burger__list > li > a.active {
  color: var(--color-primery);
}
.burger__contacts {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.burger__contacts > li:nth-child(1) > a {
  font-size: 34px;
  line-height: 39.84px;
}
.burger__contacts > li:nth-child(2) {
  margin-bottom: 64px;
}
.burger__contacts > li > a {
  color: #757575;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  transition: 0.4s;
}
.burger__contacts > li > a:hover {
  color: var(--color-primery);
}
.burger__links {
  display: flex;
  gap: 20px;
}
.burger__links > li {
  position: relative;
}
.burger__links > li:not(:last-child)::after {
  content: "";
  position: absolute;
  height: 22px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  right: -12px;
}
.burger__links > li > a {
  color: var(--color-primery);
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  transition: 0.3s;
}
.burger__links > li > a:hover {
  color: var(--color-primery-hover);
}

.burger__open {
  width: 24px;
  flex-direction: column;
  gap: 4px;
  background-color: transparent;
  display: none;
}
.burger__open > div {
  border: 1px solid #212121;
}

.burger__off {
  transform: translateX(100%);
  transition: 0.4s;
}

@media (max-width: 767px) {
  .burger__open {
    display: flex;
  }
}/*# sourceMappingURL=main.css.map */