@import "../utils/variables";
.app {
	display: flex;
	justify-content: center;
	align-items: center;
	> .main__wrapper {
		overflow-x: hidden;
		overflow-y: auto;
		position: relative;
		width: 90vw;
		height: 90vh;
		background-color: rgba(17, 25, 40, 0.55);
		backdrop-filter: blur(19px) saturate(180%);
		padding: 15px;
		border-radius: 10px;
		border: 1px solid rgba(255, 255, 255, 0.2);
		color: $color-text;
		box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
		&::-webkit-scrollbar {
			width: 10px;
			background-color: rgba(255, 255, 255, 0.1);
			border-radius: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background-color: #212121;
			width: 1px;
			height: 1px;
			border-radius: 12px;
			padding: 10px;
		}
		&::-webkit-scrollbar-track {
			border-radius: 12px;
		}
	}
}
.app.light {
	background-image: url(../images/Cloudy.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.app.night {
	background-image: url(../images/cloudy_night.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
