.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--color-brand);
	border-bottom: 2px solid #262931;
	&__wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px 0;
		> .logo {
			font-size: calc(var(--index) * 0.9);
			font-weight: 300;
			letter-spacing: calc(var(--index) * 0.3);
		}
	}
	&__menu {
		display: flex;
		gap: calc(var(--index) * 2);
		align-items: center;
		> li > a {
			font-size: calc(var(--index) * 0.7);
			font-weight: 400;
			letter-spacing: calc(var(--index) * 0.2);
		}
	}
}
