.projects {
	width: 100%;
	margin: 190px 0;
	> .wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	&__title {
		font-size: 42px;
		font-weight: 700;
		margin-bottom: 90px;
	}
	&__menu {
		display: flex;
		gap: 60px;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		&__project {
			background-color: #5c62ec;
			padding: 15px 30px;
			border-radius: 6px;
			transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
			max-width: 1030px;
			&:hover {
				background-color: #5331b2;
				transform: scale(1.1)
			}
			> a {
				font-size: 22px;
			}
		}
	}
}